.card1 {
  background-image: url("./icons/card1.png");
}
.card2 {
  background-image: url("./icons/card2.png");
}
.card3 {
  background-image: url("./icons/card3.png");
}
.card4 {
  background-image: url("./icons/card4.png");
}
